/*
:root{
  --cultura-napoli-version:"1.0.0";
  --bs-link-hover-color:#004d33;
  --bs-indigo:#554dff;
  --bs-purple:#9e99ff;
  --bs-pink:#ffb3bf;
  --bs-red:#cc334d;
  --bs-orange:#995c00;
  --bs-yellow:#ffda73;
  --bs-green:#008055;
  --bs-teal:#089b96;
  --bs-cyan:#00fff7;
  --bs-gray:#525252;
  --bs-gray-dark:#262626;
  --bs-blue:#0073e6;
  --bs-gray-secondary:#5d7083;
  --bs-gray-tertiary:#5a768a;
  --bs-gray-quaternary:#fcfdff;
  --bs-gray-100:#f5f5f5;
  --bs-gray-200:#e6e6e6;
  --bs-gray-300:#d4d4d4;
  --bs-gray-400:#a3a3a3;
  --bs-gray-500:#737373;
  --bs-gray-600:#525252;
  --bs-gray-700:#404040;
  --bs-gray-800:#262626;
  --bs-gray-900:#1a1a1a;
  --bs-primary:#007a52;
  --bs-secondary:#5d7083;
  --bs-success:#008055;
  --bs-info:#5d7083;
  --bs-warning:#995c00;
  --bs-danger:#cc334d;
  --bs-light:#e9e6f2;
  --bs-dark:#17334f;
  --bs-black:#000;
  --bs-white:#fff;
  --bs-100:#f5f5f5;
  --bs-200:#e6e6e6;
  --bs-300:#d4d4d4;
  --bs-400:#a3a3a3;
  --bs-500:#737373;
  --bs-600:#525252;
  --bs-700:#404040;
  --bs-800:#262626;
  --bs-900:#1a1a1a;
  --bs-primary-rgb:0,122,82;
  --bs-secondary-rgb:93,112,131;
  --bs-success-rgb:0,128,85;
  --bs-info-rgb:93,112,131;
  --bs-warning-rgb:153,92,0;
  --bs-danger-rgb:204,51,77;
  --bs-light-rgb:233,230,242;
  --bs-dark-rgb:23,51,79;
  --bs-100-rgb:245,245,245;
  --bs-200-rgb:230,230,230;
  --bs-300-rgb:212,212,212;
  --bs-400-rgb:163,163,163;
  --bs-500-rgb:115,115,115;
  --bs-600-rgb:82,82,82;
  --bs-700-rgb:64,64,64;
  --bs-800-rgb:38,38,38;
  --bs-900-rgb:26,26,26;
  --bs-white-rgb:255,255,255;
  --bs-black-rgb:0,0,0;
  --bs-body-color-rgb:26,26,26;
  --bs-body-bg-rgb:255,255,255;
  --bs-font-sans-serif:"Titillium Web",Geneva,Tahoma,sans-serif;
  --bs-font-monospace:"Roboto Mono",monospace;
  --bs-gradient:linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
  --bs-body-font-family:var(--bs-font-sans-serif);
  --bs-body-font-size:1rem;
  --bs-body-font-weight:400;
  --bs-body-line-height:1.5;
  --bs-body-color:#1a1a1a;
  --bs-body-bg:#fff;
  --bs-border-width:1px;
  --bs-border-style:solid;
  --bs-border-color:#c5c7c9;
  --bs-border-color-translucent:rgba(0,0,0,0.175);
  --bs-border-radius:4px;
  --bs-border-radius-sm:2px;
  --bs-border-radius-lg:8px;
  --bs-border-radius-xl:1rem;
  --bs-border-radius-2xl:2rem;
  --bs-border-radius-pill:50rem;
  --bs-link-color:#007a52;
  --bs-link-hover-color:#006242;
  --bs-code-color:#17334f;
  --bs-highlight-bg:#ccfffd}

  #00402b > #00402b --bs-primary-dark (verde scuro fascetta in header)
  #006242 > #00547a --bs-link-hover-color
  #0e4734 > #0f4659 (un po' di roba 'active')

  #008758 > #16a1d8 (form success)

  #e2f3ed > #e2eef3 (skiplinks)

*/

:root {
  --bs-primary: #0090D4; /* verde originale: #007a52 */
  --bs-primary-rgb: 0, 144, 212; /* verde originale: 0, 122, 82 */
  --bs-primary-hover: #007fba;
  --bs-primary-dark: #00547a;
  --bs-link-color: #0090D4;
  --bs-link-hover-color: #00547a;
  --bs-font-sans-serif: "Archivo",Geneva,Tahoma,sans-serif;

  --primary-active: #0f4659;

  --cn-giallo: #D8B470;
  --cn-giallo-rgb: 216,180,112;
  --cn-rosso: #CD2E25;
  --cn-rosso-rgb: 205, 44, 37;

}

/*
 * TYPOGRAPHY
 */

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-family: 'ClashDisplay-Medium';
  font-weight: normal !important;
  letter-spacing: .04em;
}
.font-sans-serif {
    font-family:"Archivo",Geneva,Tahoma,sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.archivo-regular {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.clash-display-medium {
  font-family: 'ClashDisplay-Medium';
  letter-spacing: .04em;
}

body {
  font-family: "Archivo", sans-serif;
  font-weight: 300;
}

b, strong {
  font-weight: 600;
}

/*
 * COLORS
 */
 .bg-100 {
   background-color: rgba(var(--cn-giallo-rgb),.1)!important
 }
 .bg-200 {
   background-color: rgba(var(--cn-giallo-rgb),.2)!important
 }
 .bg-300 {
   background-color: rgba(var(--cn-giallo-rgb),.3)!important
 }

/*
 * BUTTONS
 */
 .btn {
   --bs-btn-color: var(--bs-black);
   --bs-btn-hover-color: var(--bs-dark);
   --bs-btn-active-color: var(--cn-giallo);
 }

.btn:hover {
  color: var(--bs-primary-hover);
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color:var(--bs-primary);
}
.btn-primary:hover {
  background-color: var(--bs-primary-hover);
}
.btn-outline {
  color: var(--bs-black);
  box-shadow: inset 0 0 0 2px var(--bs-black);
}
.btn-outline:hover {
  color: var(--bs-white);
  background-color: var(--bs-black);
}
.btn-outline:hover .icon {
  fill: var(--bs-white) !important;
}
.btn-outline-primary {
  color: var(--bs-primary);
  box-shadow: inset 0 0 0 2px var(--bs-primary);
}
.btn-outline-primary:hover {
    color: var(--bs-primary-hover);
    box-shadow: inset 0 0 0 2px var(--bs-primary-hover);
}

/*
 * CHIPS
 */

.chips-title { font-size: 1rem; font-weight: 400; padding: .11em .6em .2rem 0; }

.chip { padding: .4em 1.2em .4em .6em; border-radius: .2em; min-width: 0; height: auto; margin-top: 0; }
.chip.chip-simple { padding-right: .6em; }
.chip .chip-label { font-size: .8rem; font-weight: 400; color: var(--bs-black); letter-spacing: 0.02em;transform: none; text-transform: uppercase; height: auto; }

.chip:not(.chip-disabled) {
    border: 1px solid rgba(var(--cn-giallo-rgb), .4) outset;
    background: rgba(var(--cn-giallo-rgb), .4);
}
.chip:is(a):hover:not(.chip-disabled) { background-color: var(--cn-giallo); }

.card-itinerario .chip,
.card-itinerario .chip:hover,
.card-itinerario .chip:is(a):hover:not(.chip-disabled) { background: transparent; border: 1px solid var(--bs-white); }
.card-itinerario .chip .chip-label { color: var(--bs-white); }

.btn-dropdown { font-size: 1rem; font-weight: 400; color: var(--bs-black); }
.dropdown .btn-dropdown { --bs-btn-hover-color: var(--bs-black); }
.btn-dropdow .icon { fill: var(--bs-primary); }


/*
 * ICONE argomenti
 */
.icona-argomento { display: flex; color: inherit; padding: .5rem; border-radius: .5em; border: 2px solid transparent; text-decoration: none; }
.icona-argomento figure { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 3em; height: 3em; background-color: rgba(var(--cn-giallo-rgb),.1); margin-right: 1em; }
.icona-argomento figure img { max-width: 90%; height: auto; margin-bottom: 0; }
.icona-argomento .label { display: flex; flex-direction: column; justify-content: center; line-height: 1em; }

@media(min-width: 992px) {
  .icona-argomento { flex-direction: column; text-align: center; align-items: center; padding: .5rem 0;  }
  .icona-argomento figure { width: 5em; height: 5em; margin-right: auto; margin-left: auto; margin-bottom: .7em; }
}
@media(min-width: 1440px) {
  .icona-argomento figure { width: 6em; height: 6em; }
  .hero .icona-argomento figure { width: 12em; height: 12em; }
}

.bolli-argomenti .icona-argomento:hover { border: 2px solid rgba(var(--cn-giallo-rgb), .2); background: rgba(var(--cn-giallo-rgb),.1); text-decoration: none; }
.bolli-argomenti .icona-argomento:hover figure { background-color: rgba(var(--bs-white-rgb),1); }




/*
 * GRID
 */

 .section.section-muted {
  background: rgba(var(--cn-giallo-rgb),.1);
}

@media(min-width: 992px) {
  .row.row-column-border.flex-lg-row-reverse>[class^=col-] {
    border-left:none;
    border-right: 1px solid #c5c7c9
  }
  .row.row-column-border.flex-lg-row-reverse>[class^=col-]:first-child {
    border: none;
  }
}


.icon-primary {
  fill: var(--bs-primary) !important;
}

.link-list-wrapper ul li a:hover:not(.disabled) span {
    color: var(--bs-primary);
    text-decoration: underline
}

.link-list-wrapper ul li a:hover:not(.disabled) p {
    color: #30475f;
    text-decoration: none
}

.link-list-wrapper ul li a:hover:not(.disabled) .icon {
    fill: var(--bs-primary);
}

.link-list-wrapper ul li a span {
    color: var(--bs-black);
}
/*
.link-list-wrapper ul li a.right-icon .icon.secondary {
    color: #5d7083
}

.link-list-wrapper ul li a.right-icon[aria-expanded=true] .icon.right {
    transform: scaleY(-1)
}

.link-list-wrapper ul li a.active span {
    color: #004730;
}

.link-list-wrapper ul li a.active .icon {
    color: #004730
}

.link-list-wrapper ul li a.disabled {
    cursor: not-allowed
}

.link-list-wrapper ul li a.disabled span {
    color: #63707e
}
*/

/* NAVBAR */
.navbar {
    background: var(--bs-primary);
}
.navbar .navbar-collapsable .navbar-nav li>button.nav-link {
    color: var(--bs-primary);
}
.navbar .navbar-collapsable .navbar-nav li>button.nav-link.dropdown-toggle svg {
    fill: var(--bs-primary);
}
.navbar .navbar-collapsable .navbar-nav li>button.nav-link.active {
    border-color: var(--bs-primary);
}
.navbar .navbar-collapsable .navbar-nav li a.nav-link {
    color: var(--bs-primary);
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link.dropdown-toggle svg {
    fill: var(--bs-primary);
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link.active {
    border-color: var(--bs-primary);
}
.navbar .close-div .close-menu {
    color: var(--bs-primary);
}
.navbar .dropdown-menu a.it-footer-link,.navbar .dropdown-menu a.it-heading-link {
    color: var(--bs-primary);
}

.navbar .dropdown-menu a.it-footer-link svg,.navbar .dropdown-menu a.it-heading-link svg {
    fill: var(--bs-primary);
}

.navbar .dropdown-menu a.it-footer-link.active span,.navbar .dropdown-menu a.it-heading-link.active span {
    color: var(--bs-primary);
}

.navbar .dropdown-menu .link-list-wrapper ul li a.list-item.active {
    color: var(--primary-active);
}

.navbar .dropdown-menu .link-list-wrapper ul li a.list-item.active span {
    color: var(--primary-active);
}

.navbar .dropdown-menu .link-list-wrapper ul li a svg {
    fill: var(--bs-primary);
}

.navbar .dropdown-menu .link-list-wrapper ul li a i,.navbar .dropdown-menu .link-list-wrapper ul li a span {
    color: var(--bs-primary);
}
.inline-menu .link-list-wrapper .link-list li a:after {
    background: var(--bs-primary);
}

.inline-menu .link-list-wrapper .link-list li a.active span {
    color: var(--bs-primary);
}
@media(min-width: 992px) {
  .navbar {
      background: var(--bs-primary);
  }
  .navbar .navbar-collapsable .menu-wrapper {
    background: var(--bs-primary);
  }
  .navbar .dropdown-menu .link-list-wrapper ul li a,.navbar .dropdown-menu .link-list-wrapper ul li a i,.navbar .dropdown-menu .link-list-wrapper ul li a span {
       color: var(--bs-primary);
   }
}
.navbar.it-navscroll-wrapper .link-list-wrapper ul li a.active span {
  color: var(--cn-giallo);
}
aside .cmp-navscroll .navbar.it-navscroll-wrapper .link-list-wrapper ul li a.active {
  border-left: 2px solid var(--cn-giallo);
}

.cmp-navscroll .navbar.it-navscroll-wrapper .link-list-wrapper .accordion .accordion-header .accordion-button {
    color: var(--bs-primary);
}
.cmp-navscroll .navbar.it-navscroll-wrapper .link-list-wrapper ul li a:hover span {
    color: var(--cn-giallo);
}


.skiplinks {
   background-color: #e2eef3;
   text-align: center
 }

 .skiplinks a {
     color: var(--bs-primary);
 }



.it-hero-wrapper {
   background-color: var(--bs-primary);
}
.it-hero-wrapper.it-overlay.it-primary .img-responsive-wrapper:after {
   background: rgba(var(--bs-primary-rgb),.85)
}

.it-hero-wrapper .it-hero-card.it-hero-bottom-overlapping {
   margin-top: 0;
   margin-bottom: 0;
}
@media(max-width: 575px) {
}
@media(min-width: 576px) {
   .it-hero-wrapper .it-hero-card.it-hero-bottom-overlapping {
       margin-top: 1rem;
       margin-bottom: 0;
   }
}

.custom-overlapping::before { content: ""; display: block; position: absolute; bottom: 0; left: 0; width: 100%; top: 36rem; height: calc(100% - 36rem); background: var(--bs-white); }
.custom-overlapping .figure-img { margin-bottom: 0; }


 .back-to-top {
    background: var(--bs-primary);
  }

/* CARD */
.card { transition: all .2s ease; }

.card.card-img .img-responsive-wrapper .img-responsive,
.card.card-img .img-responsive-wrapper .img-responsive.img-responsive-panoramic {
    padding-bottom: 56.25%
}

.card .card-body .card-text {
  font-family: var(--bs-font-sans-serif);
}

.flag-icon {
    background: var(--bs-primary);
}
a.read-more {
    color: var(--bs-primary);
}
a.read-more .icon {
    fill: var(--bs-primary);
}

a.card-evento { background-color: transparent; text-decoration: none; height: auto !important; }
.card-evento .img-responsive.rounded,
.card-evento .img-responsive.rounded-2,
.card-evento .img-responsive.rounded-3 { overflow: hidden; }
.card-evento .card-body { padding: .7em .7em; }
.card-evento .card-body .card-title { color: var(--bs-black); }
.card-evento .card-body .card-title.h5,
.card-evento .card-body h5.card-title { line-height: 1.1em; margin-bottom:.5em; }
.card-evento .card-body .card-text { color: var(--bs-secondary); line-height: 1.3em; }

a.card-full { text-decoration: none; }
.card-full .card-image-wrapper { position: relative; aspect-ratio: calc(16/9); overflow: hidden; box-shadow: 0 2px 20px 0 rgba(0,0,0,.1) }
.card-full .card-image { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: center center; hoverflow: hidden; }
.card-full .card-image img { width: 100%; }
.card-full .card-body .card-title { color: var(--bs-black); }

a.card-luogo { background-color: transparent; text-decoration: none; }
.card-luogo .img-responsive.rounded,
.card-luogo .img-responsive.rounded-2,
.card-luogo .img-responsive.rounded-3 { overflow: hidden; }
.card-luogo .card-body { padding: .7em .7em; }
.card-luogo .card-body .card-title.h5,
.card-luogo .card-body h5.card-title { color: var(--bs-black); line-height: 1.1em; margin-bottom:.5em; }
.card-luogo .card-body .card-text { color: var(--bs-secondary); line-height: 1.3em; }

.card-luogo.card-luogo-small { flex-direction: row; background: var(--bs-white); border: 1px solid #e5e5e5; }
.card-luogo.card-luogo-small .card-body .card-title.h5,
.card-luogo.card-luogo-small .card-body h5.card-title { font-size: 1rem; line-height: 1.25rem; }
.card-luogo.card-luogo-small .img-responsive-wrapper { width: 144px; }

a.card-progetto { background-color: transparent; text-decoration: none; }
.card-progetto .img-responsive { overflow: hidden; border-radius: var(--bs-border-radius-lg) var(--bs-border-radius-lg) 0 0; }
.card-progetto .img-responsive:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(0deg,rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); }
.card-progetto .card-body { padding: 1em 1em; }
.card-progetto .card-body .card-title.h4,
.card-progetto .card-body h4.card-title { color: var(--bs-black); line-height: 1.1em; margin-bottom:.5em; }
.card-progetto .card-body .card-title.h5,
.card-progetto .card-body h5.card-title { color: var(--bs-black); line-height: 1.1em; margin-bottom:.5em; }
.card-progetto .card-body .card-text { color: var(--bs-secondary); line-height: 1.2em; }


.bg-100 .card-luogo.card-luogo-small,
.bg-200 .card-luogo.card-luogo-small { border: 1px solid rgba(var(--cn-giallo-rgb), .4); }

.card:not(.no-glow):hover { box-shadow: 0 0 1rem rgba(var(--bs-black-rgb), .2); }
.card:not(.no-pop):hover { transform: scale(1.02); }

.bg-100 .card:not(.no-glow):hover,
.bg-200 .card:not(.no-glow):hover { box-shadow: 0 0 1rem rgba(var(--cn-giallo-rgb), .4); }

.card:not(.no-hover):before { content: ''; position: absolute; top: 0; left: 15%; width: 70%; height: 70%; opacity: 0; border-radius: .8rem; background: var(--card-bg, rgba(153, 136, 103, .15)); transition: all .2s ease; }
.card:not(.no-hover):hover:before { top: -0.4rem; left: -0.4rem; width: calc(100% + .8rem); height: calc(100% + .8rem); opacity: 1; }



/* .bg-100 .card-evento:hover,
.bg-200 .card-evento:hover { background: rgba(255,255,255,.4)} */

a.card-itinerario { background-color: transparent; text-decoration: none; }
.card-itinerario .img-responsive.rounded,
.card-itinerario .img-responsive.rounded-2,
.card-itinerario .img-responsive.rounded-3 { overflow: hidden; }
.card-itinerario .img-responsive .img-wrapper:after {
  content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 100%); }
.card-itinerario .card-body { position: absolute; bottom: 0; width: 100%; color: #FFF; }
.card-itinerario .card-body .card-title { color: #FFF; }

.map-wrapper.map-column { margin: 0; }
.map-wrapper.rounded-3 { overflow: hidden; }

@media (min-width: 992px) {
  .map-wrapper.map-column { margin-left:0; }
}


/* FORM */
.just-validate-success-field {
    border-color: #16a1d8!important;
}
.input-group-text:has(~.just-validate-success-field),.just-validate-success-field+button,.just-validate-success-field~.input-group-text,button:has(~.just-validate-success-field) {
    border-color: #16a1d8
}
input[type=checkbox].just-validate-success-field+label,input[type=radio].just-validate-success-field+label {
    color: #16a1d8;
}
select.just-validate-success-field {
    border-bottom: 1px solid #16a1d8;
}
.autocomplete__wrapper .autocomplete__menu .autocomplete__hint:focus,.autocomplete__wrapper .autocomplete__menu .autocomplete__hint:hover,.autocomplete__wrapper .autocomplete__menu .autocomplete__option:focus,.autocomplete__wrapper .autocomplete__menu .autocomplete__option:hover {
    color:  var(--bs-primary);
}
.datepicker-calendar.default table.datepicker-grid td.empty:hover span {
    background: var(--bs-primary);
}
.datepicker-calendar.default table.datepicker-grid td.selectable.focus span {
    background: var(--bs-primary);
}
.it-datepicker-wrapper .input-group .datepicker-button:hover .icon {
    fill: var(--bs-primary);
}
.it-datepicker-wrapper.theme-dark .datepicker-calendar.default table.datepicker-grid td.selectable.focus span {
  color: var(--bs-primary);
}
.it-datepicker-wrapper.theme-dark .datepicker-calendar {
  background-color: var(--bs-primary);
}
.it-timepicker-wrapper .calendar-input-container .btn-time:hover svg {
    fill: var(--bs-primary);
}
 .it-timepicker-wrapper.theme-dark .spinner-control {
   background: var(--bs-primary);
 }


/* HEADER */
.it-timepicker-wrapper.theme-dark .spinner-control {
    background: #007a52
}
.it-header-slim-wrapper {
  background: var(--bs-primary-dark);
}
.it-header-center-wrapper {
  background: var(--bs-primary);
}
@media (min-width: 992px) {
  .it-header-navbar-wrapper {
    background: var(--bs-primary);
  }
}

.it-header-wrapper .it-brand-wrapper .icon image {
    width: auto;
    height: 48px
}

@media(min-width: 992px) {
    .it-header-wrapper .it-brand-wrapper .icon image {
        width:auto;
        height: 3.2rem;
    }
}
.it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper a .icon {
    width: auto;
    height: 48px;
    margin-right: 8px;
}
.it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper a .icon {
    width: auto;
    height: 3.2rem;
    margin-right: 16px
}



/* Breadcrumbs */
.cmp-breadcrumbs .breadcrumb-container .breadcrumb .breadcrumb-item a {
    color: var(--bs-primary);
}

.cmp-breadcrumbs .breadcrumb-container .breadcrumb .breadcrumb-item a:hover {
    color: var(--bs-link-hover-color);
}

.cmp-breadcrumbs .separator {
    color: #455a64;
    font-weight: 400
}

.cmp-breadcrumbs .breadcrumb-container .breadcrumb .breadcrumb-item.active {
    color: #30475f
}


/*
/* Evento
*/
.single-evento .it-page-section:not(:first-of-type) { border-top: 1px solid #c5c7c9; padding-top: 2rem; }
.single-evento #luogo .card .icon { width: 1em; height: 1em; fill:var(--bs-primary); stroke:var(--bs-primary); stroke-width: .1em; margin-top: -0.2em; }
.single-evento #luogo .card .card-body { padding-top: 1em; padding-left: 0; padding-right: 0; }
.single-evento #luogo .card .card-body .card-title.h5,
.single-evento #luogo .card .card-body h5.card-title { margin-bottom: 0; }
.single-evento #luogo .card::after { margin-top: 0; }

.parent-event { border-top: 1px solid rgba(var(--cn-giallo-rgb),.3)!important }
.more-events { border-top: 1px solid rgba(var(--cn-giallo-rgb),.3)!important }



/*
/* Luogo
*/
.single-luogo .it-page-section:not(:first-of-type) { border-top: 1px solid #c5c7c9; padding-top: 2rem; }



/*
/* Itinerario
*/
.single-itinerario .it-page-section:not(:first-of-type) { border-top: 1px solid #c5c7c9; padding-top: 2rem; }

.tappa-wrapper { position: relative; padding-left: 3rem; }
.tappa-wrapper:before { content: ""; position: absolute; top: 0; bottom:0; left:1.3rem; width: 1px; background: var(--cn-giallo); }
.tappa-wrapper:after { content: ""; position: absolute; top: 4.3rem; left:calc(.6rem - 1px); width: 1.6rem; height: 1.6rem; border-radius: 50%; background: var(--bs-white); border:1px solid var(--cn-giallo); }

.card-tappa .card-body .h5.card-title { line-height: 1.25rem; margin-bottom: .2em; }
.card-tappa .card-body .card-text { color: var(--bs-secondary); line-height: 1.2em; }
.card-tappa .card-body .card-text .card-address { display: block; margin-bottom: .7em; color: var(--bs-secondary); line-height: 1.2em; }



/*
/* Splide
*/
.it-carousel-same-height .it-single-slide-wrapper { height: 100%; }
.it-carousel-same-height figure { height: 100%; }
.it-carousel-same-height figure img { height: 100%; width: auto; border-radius: .5rem; }


.slider_home .splide__pagination {
  gap: .75rem;
  justify-content: flex-start;
  padding: 0 calc(var(--bs-gutter-x)*.5) 2rem;
}
.slider_home .splide__pagination__page {
    background: var(--bs-secondary);
    width: 2rem;
    height: .1rem;
}
.it-carousel-wrapper .splide__pagination button { background: rgba(var(--cn-giallo-rgb), .5); }
.it-carousel-wrapper .splide__pagination button.is-active { background: var(--bs-black); }

.slider_home .splide__pagination__page.is-active {
    background: var(--bs-primary);
    height: .15rem;
}
