/*
:root{
  --cultura-napoli-version:"1.0.0";
  --bs-link-hover-color:#004d33;
  --bs-indigo:#554dff;
  --bs-purple:#9e99ff;
  --bs-pink:#ffb3bf;
  --bs-red:#cc334d;
  --bs-orange:#995c00;
  --bs-yellow:#ffda73;
  --bs-green:#008055;
  --bs-teal:#089b96;
  --bs-cyan:#00fff7;
  --bs-gray:#525252;
  --bs-gray-dark:#262626;
  --bs-blue:#0073e6;
  --bs-gray-secondary:#5d7083;
  --bs-gray-tertiary:#5a768a;
  --bs-gray-quaternary:#fcfdff;
  --bs-gray-100:#f5f5f5;
  --bs-gray-200:#e6e6e6;
  --bs-gray-300:#d4d4d4;
  --bs-gray-400:#a3a3a3;
  --bs-gray-500:#737373;
  --bs-gray-600:#525252;
  --bs-gray-700:#404040;
  --bs-gray-800:#262626;
  --bs-gray-900:#1a1a1a;
  --bs-primary:#007a52;
  --bs-secondary:#5d7083;
  --bs-success:#008055;
  --bs-info:#5d7083;
  --bs-warning:#995c00;
  --bs-danger:#cc334d;
  --bs-light:#e9e6f2;
  --bs-dark:#17334f;
  --bs-black:#000;
  --bs-white:#fff;
  --bs-100:#f5f5f5;
  --bs-200:#e6e6e6;
  --bs-300:#d4d4d4;
  --bs-400:#a3a3a3;
  --bs-500:#737373;
  --bs-600:#525252;
  --bs-700:#404040;
  --bs-800:#262626;
  --bs-900:#1a1a1a;
  --bs-primary-rgb:0,122,82;
  --bs-secondary-rgb:93,112,131;
  --bs-success-rgb:0,128,85;
  --bs-info-rgb:93,112,131;
  --bs-warning-rgb:153,92,0;
  --bs-danger-rgb:204,51,77;
  --bs-light-rgb:233,230,242;
  --bs-dark-rgb:23,51,79;
  --bs-100-rgb:245,245,245;
  --bs-200-rgb:230,230,230;
  --bs-300-rgb:212,212,212;
  --bs-400-rgb:163,163,163;
  --bs-500-rgb:115,115,115;
  --bs-600-rgb:82,82,82;
  --bs-700-rgb:64,64,64;
  --bs-800-rgb:38,38,38;
  --bs-900-rgb:26,26,26;
  --bs-white-rgb:255,255,255;
  --bs-black-rgb:0,0,0;
  --bs-body-color-rgb:26,26,26;
  --bs-body-bg-rgb:255,255,255;
  --bs-font-sans-serif:"Titillium Web",Geneva,Tahoma,sans-serif;
  --bs-font-monospace:"Roboto Mono",monospace;
  --bs-gradient:linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
  --bs-body-font-family:var(--bs-font-sans-serif);
  --bs-body-font-size:1rem;
  --bs-body-font-weight:400;
  --bs-body-line-height:1.5;
  --bs-body-color:#1a1a1a;
  --bs-body-bg:#fff;
  --bs-border-width:1px;
  --bs-border-style:solid;
  --bs-border-color:#c5c7c9;
  --bs-border-color-translucent:rgba(0,0,0,0.175);
  --bs-border-radius:4px;
  --bs-border-radius-sm:2px;
  --bs-border-radius-lg:8px;
  --bs-border-radius-xl:1rem;
  --bs-border-radius-2xl:2rem;
  --bs-border-radius-pill:50rem;
  --bs-link-color:#007a52;
  --bs-link-hover-color:#006242;
  --bs-code-color:#17334f;
  --bs-highlight-bg:#ccfffd}

  #00402b > #00402b --bs-primary-dark (verde scuro fascetta in header)
  #006242 > #00547a --bs-link-hover-color
  #0e4734 > #0f4659 (un po' di roba 'active')

  #008758 > #16a1d8 (form success)

  #e2f3ed > #e2eef3 (skiplinks)

*/

:root {
  --bs-primary: #0090D4; /* verde originale: #007a52 */
  --bs-primary-rgb: 0, 144, 212; /* verde originale: 0, 122, 82 */
  --bs-primary-hover: #007fba;
  --bs-primary-dark: #00547a;
  --bs-link-color: #0090D4;
  --bs-link-hover-color: #00547a;
  --bs-font-sans-serif: "Archivo",Geneva,Tahoma,sans-serif;

  --primary-active: #0f4659;

  --cn-giallo: #D8B470;
  --cn-giallo-rgb: 180,112,20;
  --cn-rosso: #CD2E25;
  --cn-rosso-rgb: 205, 46, 37;
}

/*
 * TYPOGRAPHY
 */

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-family: 'ClashDisplay-Medium';
  letter-spacing: .04em;
}
.font-sans-serif {
    font-family:"Archivo",Geneva,Tahoma,sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.archivo-regular {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.clash-display-medium {
  font-family: 'ClashDisplay-Medium';
  letter-spacing: .04em;
}

body {
  font-family: "Archivo", sans-serif;
  font-weight: 300;
}

/*
 * BUTTONS
 */

 .btn-primary {
  background-color: var(--bs-primary);
  border-color:var(--bs-primary);
}


/*
 * BOLLI argomenti
 */
.icona-argomento { display: flex; color: inherit; padding: .5rem; border-radius: .5em; border: 2px solid transparent; text-decoration: none; }
.icona-argomento figure { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 3em; height: 3em; background-color: rgba(var(--cn-giallo-rgb),.1); margin-right: 1em; }
.icona-argomento figure img { max-width: 60%; height: auto; margin-bottom: 0; }
.icona-argomento .label { display: flex; flex-direction: column; justify-content: center; line-height: 1em; }
@media(min-width: 992px) {
  .icona-argomento { flex-direction: column; text-align: center; align-items: center; padding: .5rem 0;  }
  .icona-argomento figure { width: 5em; height: 5em; margin-right: auto; margin-left: auto; margin-bottom: .7em; }
}
@media(min-width: 1440px) {
  .icona-argomento figure { width: 6em; height: 6em; }
}
.icona-argomento:hover { border: 2px solid rgba(var(--cn-giallo-rgb), .2); background: rgba(var(--cn-giallo-rgb), .1); text-decoration: none; }
.icona-argomento:hover figure { background-color: rgba(var(--bs-white-rgb),1); }



/*
 * GRID
 */
@media(min-width: 992px) {
  .row.row-column-border.flex-lg-row-reverse>[class^=col-] {
    border-left:none;
    border-right: 1px solid #c5c7c9
  }
  .row.row-column-border.flex-lg-row-reverse>[class^=col-]:first-child {
    border: none;
  }
}


.link-list-wrapper ul li a:hover:not(.disabled) span {
    color: var(--bs-primary);
    text-decoration: underline
}

.link-list-wrapper ul li a:hover:not(.disabled) p {
    color: #30475f;
    text-decoration: none
}

.link-list-wrapper ul li a:hover:not(.disabled) .icon {
    fill: var(--bs-primary);
}

.link-list-wrapper ul li a span {
    color: var(--bs-primary);
}
/*
.link-list-wrapper ul li a.right-icon .icon.secondary {
    color: #5d7083
}

.link-list-wrapper ul li a.right-icon[aria-expanded=true] .icon.right {
    transform: scaleY(-1)
}

.link-list-wrapper ul li a.active span {
    color: #004730;
}

.link-list-wrapper ul li a.active .icon {
    color: #004730
}

.link-list-wrapper ul li a.disabled {
    cursor: not-allowed
}

.link-list-wrapper ul li a.disabled span {
    color: #63707e
}
*/

/* NAVBAR */
.navbar {
    background: var(--bs-primary);
}
.navbar .navbar-collapsable .navbar-nav li>button.nav-link {
    color: var(--bs-primary);
}
.navbar .navbar-collapsable .navbar-nav li>button.nav-link.dropdown-toggle svg {
    fill: var(--bs-primary);
}
.navbar .navbar-collapsable .navbar-nav li>button.nav-link.active {
    border-color: var(--bs-primary);
}
.navbar .navbar-collapsable .navbar-nav li a.nav-link {
    color: var(--bs-primary);
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link.dropdown-toggle svg {
    fill: var(--bs-primary);
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link.active {
    border-color: var(--bs-primary);
}
.navbar .close-div .close-menu {
    color: var(--bs-primary);
}
.navbar .dropdown-menu a.it-footer-link,.navbar .dropdown-menu a.it-heading-link {
    color: var(--bs-primary);
}

.navbar .dropdown-menu a.it-footer-link svg,.navbar .dropdown-menu a.it-heading-link svg {
    fill: var(--bs-primary);
}

.navbar .dropdown-menu a.it-footer-link.active span,.navbar .dropdown-menu a.it-heading-link.active span {
    color: var(--bs-primary);
}

.navbar .dropdown-menu .link-list-wrapper ul li a.list-item.active {
    color: var(--primary-active);
}

.navbar .dropdown-menu .link-list-wrapper ul li a.list-item.active span {
    color: var(--primary-active);
}

.navbar .dropdown-menu .link-list-wrapper ul li a svg {
    fill: var(--bs-primary);
}

.navbar .dropdown-menu .link-list-wrapper ul li a i,.navbar .dropdown-menu .link-list-wrapper ul li a span {
    color: var(--bs-primary);
}
.inline-menu .link-list-wrapper .link-list li a:after {
    background: var(--bs-primary);
}

.inline-menu .link-list-wrapper .link-list li a.active span {
    color: var(--bs-primary);
}
@media(min-width: 992px) {
  .navbar {
      background: var(--bs-primary);
  }
  .navbar .navbar-collapsable .menu-wrapper {
    background: var(--bs-primary);
  }
  .navbar .dropdown-menu .link-list-wrapper ul li a,.navbar .dropdown-menu .link-list-wrapper ul li a i,.navbar .dropdown-menu .link-list-wrapper ul li a span {
       color: var(--bs-primary);
   }
}

.skiplinks {
   background-color: #e2eef3;
   text-align: center
 }

 .skiplinks a {
     color: var(--bs-primary);
 }



.it-hero-wrapper {
   background-color: var(--bs-primary);
}
.it-hero-wrapper.it-overlay.it-primary .img-responsive-wrapper:after {
   background: rgba(var(--bs-primary-rgb),.85)
}

.it-hero-wrapper .it-hero-card.it-hero-bottom-overlapping {
   margin-top: 1rem;
   margin-bottom: 0;
}
@media(max-width: 575px) {
}
@media(min-width: 576px) {
   .it-hero-wrapper .it-hero-card.it-hero-bottom-overlapping {
       margin-top: 1rem;
       margin-bottom: 0;
   }
}

.custom-overlapping::before { content: ""; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 10rem; background: var(--bs-white); }
.custom-overlapping .figure-img { margin-bottom: 0; }


 .back-to-top {
    background: var(--bs-primary);
  }

/* CARD */
.flag-icon {
    background: var(--bs-primary);
}
a.read-more {
    color: var(--bs-primary);
}
a.read-more .icon {
    fill: var(--bs-primary);
}

/* FORM */
.just-validate-success-field {
    border-color: #16a1d8!important;
}
.input-group-text:has(~.just-validate-success-field),.just-validate-success-field+button,.just-validate-success-field~.input-group-text,button:has(~.just-validate-success-field) {
    border-color: #16a1d8
}
input[type=checkbox].just-validate-success-field+label,input[type=radio].just-validate-success-field+label {
    color: #16a1d8;
}
select.just-validate-success-field {
    border-bottom: 1px solid #16a1d8;
}
.autocomplete__wrapper .autocomplete__menu .autocomplete__hint:focus,.autocomplete__wrapper .autocomplete__menu .autocomplete__hint:hover,.autocomplete__wrapper .autocomplete__menu .autocomplete__option:focus,.autocomplete__wrapper .autocomplete__menu .autocomplete__option:hover {
    color:  var(--bs-primary);
}
.datepicker-calendar.default table.datepicker-grid td.empty:hover span {
    background: var(--bs-primary);
}
.datepicker-calendar.default table.datepicker-grid td.selectable.focus span {
    background: var(--bs-primary);
}
.it-datepicker-wrapper .input-group .datepicker-button:hover .icon {
    fill: var(--bs-primary);
}
.it-datepicker-wrapper.theme-dark .datepicker-calendar.default table.datepicker-grid td.selectable.focus span {
  color: var(--bs-primary);
}
.it-datepicker-wrapper.theme-dark .datepicker-calendar {
  background-color: var(--bs-primary);
}
.it-timepicker-wrapper .calendar-input-container .btn-time:hover svg {
    fill: var(--bs-primary);
}
 .it-timepicker-wrapper.theme-dark .spinner-control {
   background: var(--bs-primary);
 }


/* HEADER */
.it-timepicker-wrapper.theme-dark .spinner-control {
    background: #007a52
}
.it-header-slim-wrapper {
  background: var(--bs-primary-dark);
}
.it-header-center-wrapper {
  background: var(--bs-primary);
}
@media (min-width: 992px) {
  .it-header-navbar-wrapper {
    background: var(--bs-primary);
  }
}

/* Breadcrumbs */
.cmp-breadcrumbs .breadcrumb-container .breadcrumb .breadcrumb-item a {
    color: var(--bs-primary);
}

.cmp-breadcrumbs .breadcrumb-container .breadcrumb .breadcrumb-item a:hover {
    color: var(--bs-link-hover-color);
}

.cmp-breadcrumbs .separator {
    color: #455a64;
    font-weight: 400
}

.cmp-breadcrumbs .breadcrumb-container .breadcrumb .breadcrumb-item.active {
    color: #30475f
}
